{% load static %}
{% url 'textmodifier:result' as path_to_home %}
{% url 'textmodifier:about' as path_to_about %}

<div class="ui secondary pointing menu">

    <a href="{{path_to_home}}" class="{% if request.path == path_to_home %}active{%endif%} item">
      Home
    </a>

    <a href="{{path_to_about}}" class="{% if request.path == path_to_about %}active{%endif%} item">
      About
    </a>

    {% if request.path != path_to_home and request.path != path_to_about %}
    <a href="" class="{% if request.path != path_to_home and request.path != path_to_about %}active{%endif%} item">
      Processed
    </a>
    {%endif%}

  </div>
  <div class="">

  </div>