{% extends 'base.html' %} 



{%block title%}About{%endblock title%} 

{%block content%}

<h1>About </h1>

<div class="ui message">
    <div class="header">
      TEXT MODIFIER
    </div>
    <h5>This is a TextUtil Web Application. Here you can Modify Your Texts</h5>
  </div>



  <div class="ui segment"> 
      CAPITAL : By Pressing CAPITAL button Your Text will turn into UPPER CASE Letters
  </div>


  <div class="ui segment">
    lower : by pressing lower button Your text will turn into lower case letters
  </div>

  <div class="ui segment">
    Remove Punctuations : Remove Punctuation will helps you to remove all Punctuations from your text.
  </div>

  <div class="ui segment">
    Word Count : Counts Each word,Single character,Sentences,Prepositions.
  </div>
  
  <div class="ui segment">
    make PDF : Clean Your Text First.Then use it.
  </div>
  
  <div class="ui segment">
    Word Starts With : Very usefull function . Count each English letter's words and then display them all.
  </div>

  <div class="ui segment">
    Text To Speech : Converts your text to speech. 
  </div>



  <div class="ui segment">
    Title Case : In title case, all major words are capitalized, while minor words are lowercased.    
  </div>
  <div class="ui segment">
    Text to QrCode = Qr code Refers to Quick Response code. Give a limited text because huge text can't response quick. 
    
  </div>
  <div class="ui segment">
    
  </div>



 
{%endblock content%}