{% extends 'base.html' %} 



{%block title%}-Text Informations{%endblock title%} 

{%block content%}
{% for i,j in final_list %}
<div class="ui segment">
    <div class="ui grid">
        <div class="row">
            <div class="fourteen wide column">
                <div class="ui semetric label">
                    <h3>Total {{i}}</h3>

                </div>

            </div>
            <div class="two wide column">
                <div class="ui semetric label">
                    <h3>{{j}}</h3>

                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}


  
 
{% endblock content%}