{% extends 'base.html' %} 



{%block title%} -Invisible{%endblock title%} 

{%block content%}

{% if is_empty %}
    <h1>Please Fill All Fileds</h1>

{% else %}
<form>
    <div class="form-group">
    <h4><span class="badge badge-pill badge-info">Your {{which}} Text is:</span></h4>

      <textarea style="height: 525px;" class="form-control" id="secretText" rows="3">{{text}}</textarea>
    </div>
  </form>


<button id="copy" class="ui inverted secondary button" >Copy</button>

{% endif %}

<script>

    $(document).ready(function(){
    
            
      function copy() {
      var copyText = document.querySelector("#secretText");
      copyText.select();
      document.execCommand("copy");
    }
    
      document.querySelector("#copy").addEventListener("click", copy);
        })
    </script>
    
{% endblock content%}