{% extends 'base.html' %} 



{%block title%} -Invisible{%endblock title%} 

{%block content%}

<p id="invisibleText"></p>
<button id="visibleBtn" class="ui primary button" >Visible Text</button>


<script>
    $(document).ready(function(){

        function invFunc(){
            console.log('we');
            document.querySelector('#invisibleText').innerHTML = '<p>{{text}}</p>'
        }


        let invBtn = document.querySelector('#visibleBtn')
        invBtn.addEventListener('click',invFunc)
    })

</script>

{% endblock content%}