{% extends 'base.html' %} 



{%block title%}-{% if which == 'secret' %}SecretText{% else%}RevealedText{%endif%}{%endblock title%} 

{%block content%}

{% if is_alpha %}
<h5>Your Code is Not VALID</h5>
{% else %}

<h3 Your code is style="color: red;">Your code is {{code}}</h3>



<form>
    <div class="form-group">
    <h4><span class="badge badge-pill badge-info">Your {{which}} Text is:</span></h4>

      <textarea style="height: 525px;" class="form-control" id="secretText" rows="3">{{stringNew}}</textarea>
    </div>
  </form>


<button id="copy" class="ui inverted secondary button" >Copy</button>
<br>
<br>



<h5 style="color: red;">Don't forget this code.This code must be needed for revealing your text. If the revealed text is not matching with the orginal one,you have entered a wrong code !</h5>


{% endif %}

<script>

$(document).ready(function(){

        
  function copy() {
  var copyText = document.querySelector("#secretText");
  copyText.select();
  document.execCommand("copy");
}

  document.querySelector("#copy").addEventListener("click", copy);
    })
</script>

 
{% endblock content %}


